# Ignore everything
*

# But descend into directories
!*/

# Except for these directories
!/bash/**
!/powershell/**
!/zsh/**
!/karabiner/**
/karabiner/automatic_backups

# Except for these files
!.profile
!.vimrc
!/*.sh
!/*.md
!ohmyposh.json
